<div class="container my-4">

    <!-- <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Products</h2>

        <button class="btn btn-dark" appDarkMode>
            <i class="fa-solid fa-moon"></i>
        </button>

    </div>

    <div class="mb-3">

        <div class="d-flex justify-content-between align-items-center">

            @for(cat of categories; track cat){


            <app-button [title]="cat | titlecase" [color]="selectedCategory == cat ? 'btn-dark' : 'btn-outline-dark'"
                (btnClick)="filterCategory(cat)">
            </app-button>

            }
        </div>


    </div>

    <h4 class="mb-4">
        Total Price: {{totalPrice | number:'1.2-2'}}
    </h4> -->

    <ng-content></ng-content>

    <div class="row g-4">

        @for(item of filteredProducts; track item.id){

        <div class="col-md-4">

            <div class="card h-100 shadow">

                <img [src]="item.thumbnail" class="card-img-top p-3" height="250" appZoom>

                <div class="card-body">

                    <h5>{{item.title}}</h5>

                    <p>{{item.description | shortDesc}}...</p>

                    <span class="badge bg-primary">
                        {{item.category}}
                    </span>

                    <div class="d-flex justify-content-between align-items-center">

                        <h6 class="mt-2 text-success">
                            ${{item.price}}
                        </h6>
                        <div class="mt-2">

                            <span class="badge" [ngClass]="{
              'bg-danger': item.stock == 0,
              'bg-warning text-dark': item.stock > 0 && item.stock < 10,
              'bg-success': item.stock >= 10
            }" [ngStyle]="{
              'font-size': '14px',
              'padding': '8px',
              'border-radius': '8px'
            }">

                                {{
                                item.stock == 0
                                ? 'Sold Out'
                                : item.stock < 10 ? 'Only ' + item.stock + ' Left' : 'In Stock' }} </span>

                        </div>


                    </div>

                    @if (item.stock!==0) {
                    <app-button title="Add To Cart" color="btn-outline-primary mt-2" (btnClick)="addToCart(item)">
                    </app-button>
                    }
                    @else {
                    <app-button title="None available" color="btn-secondary mt-2">
                    </app-button>
                    }

                </div>

            </div>

        </div>

        }

    </div>

</div>