<div class="container my-4">
    <ng-content></ng-content>

    <div class="row g-4">

        @for(item of filteredProducts; track item.id){

        <div class="col-md-4">

            <div class="card h-100 shadow">

                <img [src]="item.thumbnail" class="card-img-top p-3" height="250" appZoom>

                <div class="card-body">

                    <h5>{{item.title}}</h5>

                    <p>{{item.description | shortDesc}}...</p>

                    <span class="badge bg-primary">
                        {{item.category}}
                    </span>

                    <div class="d-flex justify-content-between align-items-center">

                        <h6 class="mt-2 text-success">
                            ${{item.price}}
                        </h6>
                        <div class="mt-2">

                            <span class="badge" [ngClass]="{
              'bg-danger': item.stock == 0,
              'bg-warning text-dark': item.stock > 0 && item.stock < 10,
              'bg-success': item.stock >= 10
            }" [ngStyle]="{
              'font-size': '14px',
              'padding': '8px',
              'border-radius': '8px'
            }">

                                {{
                                item.stock == 0
                                ? 'Sold Out'
                                : item.stock < 10 ? 'Only ' + item.stock + ' Left' : 'In Stock' }} </span>

                        </div>

                    </div>



                    @if (item.stock!==0) {
                    <app-button title="Add To Cart" color="btn-outline-primary mt-2" (btnClick)="addToCart(item)">
                    </app-button>
                    }
                    @else {
                    <app-button title="None available" color="btn-secondary mt-2">
                    </app-button>
                    }

                    <app-button title="Delete" color="btn-danger mt-2" (btnClick)="deleteItem(item.id!)">
                    </app-button>


                    <app-button title="Edit" color="btn-warning mt-2" (btnClick)="editItem(item.id!)">
                    </app-button>



                </div>

            </div>

        </div>

        }

    </div>

</div>